@charset "utf-8";
/* CSS Document */

body {
	padding-top: 50px;
	position: relative;
}
pre {
	tab-size: 8;
}
 @media screen and (max-width: 768px) {
.side-collapse-container {
	width: 100%;
	position: relative;
	left: 0;
	transition: left .4s;
}
.side-collapse-container.out {
	left: 200px;
}
.side-collapse {
	top: 50px;
	bottom: 0;
	left: 0;
	width: 200px;
	position: fixed;
	overflow: hidden;
	transition: width .4s;
}
.side-collapse.in {
	width: 0;
}
}
br {
	margin-top: 2px;
}
table {
	width: 1000px;
	border: 0px;
 td width:244px;
	background-color: #E4E4E4;
}
table.est1 {
	width: 1000px;
	border-style: double;
 td width:244px;
	border-color: #F00;
}
.stilo1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
}
.stiloOp {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #C60000;
}
.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-dark:hover {
	color: #fff;
	background-color: #23272b;
	border-color: #1d2124;
}
